/* Working Experience */
.job {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 5%;
}

.jobContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.jobContent {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: left;
}

.date {
  font-size: small;
  font-weight: 400;
}